.dashboard-container {
  margin: 0 10rem;
  .input-container {
    margin-top: 10rem;
    .input-title {
      margin-bottom: 2rem;
    }
    .input-description {
      margin-top: 2rem;
    }
  }
  .slides-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    & > div {
      width: 40%;
    }
    .dashboard-item {
      display: flex;
      margin-bottom: 5rem;
      .item-left {
        margin-right: 2rem;
        width: 6rem;
        img {
          width: 100%;
        }
      }
      .item-right {
        flex: 1;
        .title {
          font-size: 2rem;
        }
      }
    }
  }
  .simulate-button {
    display: flex;
    justify-content: center;
  }
  .chart-container {
    margin: 10rem auto;
  }
}